
/* Notice-Theme: default */

.mBox.Notice {
	font-size: 16px;
	line-height: normal;
}
.mBox.Notice .mBoxContainer {
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	padding: 20px 30px;
	cursor: pointer;
	background-color: #000;
	background: rgba(0, 0, 0, 0.85);
	border-radius: 6px;
}
.mBox.Notice .mBoxContent {
	position: relative;
	word-break: break-word;
}

.mBox.Notice .mBoxNoticeOk,
.mBox.Notice .mBoxNoticeSuccess,
.mBox.Notice .mBoxNoticeError,
.mBox.Notice .mBoxNoticeCancel,
.mBox.Notice .mBoxNoticeInfo,
.mBox.Notice .mBoxNoticeNotice,
.mBox.Notice .mBoxNoticeAttention {
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: 20px 12px;
}

.mBox.Notice .mBoxNoticeOk,
.mBox.Notice .mBoxNoticeSuccess {
	background-image: url(images/mBox-Icon-Ok.png);
}

.mBox.Notice .mBoxNoticeError,
.mBox.Notice .mBoxNoticeCancel {
	background-image: url(images/mBox-Icon-Error.png);
}

.mBox.Notice .mBoxNoticeInfo {
	background-image: url(images/mBox-Icon-Info.png);
}

.mBox.Notice .mBoxNoticeNotice,
.mBox.Notice .mBoxNoticeAttention {
	background-image: url(images/mBox-Icon-Notice.png);
}
