
/* Modal-Theme: default */

.mBox.Modal {
	font-size: 12px;
	line-height: normal;
}

.mBox.Modal .mBoxContainer {
	background: #fff;
	border: 6px solid #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	border-radius: 5px;
}

.mBox.Modal .mBoxContent {
	position: relative;
	background: #fff;
	padding: 15px;
	border: 1px solid #b0b0b0;
	word-break: break-word;
	border-radius: 2px;
}

.mBox.Modal.hasTitle .mBoxContent {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.mBox.Modal.hasFooter .mBoxContent {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.mBox.Modal.mBoxLoading .mBoxContent {
	min-height: 11px;
	background: url(images/mBox-Loader.gif) center center no-repeat;
}

.mBox.Modal .mBoxTitle {
	position: relative;
	color: #707070;
	font-size: 14px;
	text-shadow: 0 1px 0 #fff;
	padding: 7px 15px;
	border: 1px solid #b0b0b0;
	border-bottom: 0;
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(top,#fdfdfd,#f4f4f4);
	background-image: -moz-linear-gradient(top,#fdfdfd,#f4f4f4);
	background-image: -ms-linear-gradient(top,#fdfdfd,#f4f4f4);
	background-image: -o-linear-gradient(top,#fdfdfd,#f4f4f4);
	background-image: linear-gradient(top,#fdfdfd,#f4f4f4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fdfdfd,EndColorStr=#f4f4f4);
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.8);
	border-radius: 2px 2px 0 0;
}

.mBox.Modal .mBoxTitleContainer.mBoxDraggable {
	cursor: move;
}

.mBox.Modal .mBoxClose {
	display: block;
	cursor: pointer;
	width: 13px;
	height: 13px;
	position: absolute;
	top: 15px;
	right: 22px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0, 0.1), 0 1px 1px #fff;
}

.mBox.Modal .mBoxClose > div {
	opacity: 0.6;
	width: 7px; 
	height: 7px;
	position: absolute;
	top: 3px;
	left: 3px;
	background: 0 0 no-repeat url(data:image/gif;base64,R0lGODlhBwAHAJEDAMjIyLCwsLy8vP///yH5BAEAAAMALAAAAAAHAAcAAAIPDIZgNnoqGIoCtRAfc/IWADs=);
}

.mBox.Modal .mBoxClose:hover {
	border-color: #bbb;
}

.mBox.Modal .mBoxClose:hover > div {
	opacity: 1;
}

.mBox.Modal .mBoxFooterContainer {
	background-color: #f6f6f6;
	border: 1px solid #b0b0b0;
	border-top: 0;
	padding: 7px 15px;
	border-radius: 0 0 2px 2px;
	box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.8);
}

.mBox.Modal .mBoxFooter {
	
}

.mBox.Modal .mBoxButtonContainer {
	text-align: right;
}

.mBox.Modal .mBoxButton {
	margin-right: 10px;
}

.mBox.Modal .mBoxButtonLast {
	margin-right: 0px;
}

/* Modal.Confirm */

.mBox.Modal.Confirm .mBoxContent {
	color: #555555;
	font-size: 16px;
	padding: 30px 30px 30px 75px;
	background: url(images/mBox-Icon-Notice.png) #fff 20px 20px no-repeat;
}

.mBox.Modal.Confirm .mBoxButtonContainer {
	text-align: center;
}
